body{
    color:rgb(201, 122, 94)
}

h2{
    color:cadetblue
}

section {
    font-family: fantasy;
    padding: 50px;
    border: 1px solid #774f4f;
}

#acerca-de-mi{ /* Si llamamos sin etiqueta,cabia lo que queremos que cambie toda la seccion */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px ;
    border: 30px solid #3d2929;
    color:aquamarine;
}

#acerca-de-mi h2{ /*llamamos al nombre de la seccion(id) y a la etiqueta que queremos cambiar tanto de color,nombre,fondo etc.*/
color: brown;
border:2px solid Tomato;
}